doctype html
html
  head
    title= title
    script(src="https://unpkg.com/@tensorflow/tfjs")
    script(src="https://unpkg.com/@tensorflow-models/posenet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
